* {
    box-sizing: border-box;
}

body {
    background-color: #c14040;
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}

#container {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

/* --- HEADER SECTION ---- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 30px;
}

.header a {
    text-decoration: none;
}

.header h1 {
    color: white;
}

.menu {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.menu__link {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.menu__link.active {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .header h1 {
        font-size: 1.5rem;
    }

    .menu {
        gap: 10px;
    }
    
    .menu__link {
        font-size: 1rem;
    }
}

/* --- SEARCH SECTION ---- */

.search {
    display: flex;
    width: 100%;
    margin: 20px auto;
    gap: 5px;
}

.search__bar {
    width: 100%;
    margin: 0 auto;
    border:none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color:#c14040;
}

.search__bar::placeholder {
    font-size: 1rem;
    color:#c14040;
}

.search__button {
    border: none;
    border-radius: 10px;
    background-color: white;
    font-size: 1rem;
    color:#c14040;
    padding: 0 20px;
    cursor: pointer;
}

.search__button:hover {
    color:white;
    background-color: #982c2c;
}

/* --- HOME PAGE ---- */

.list {
    width: 95%;
    margin: 20px auto;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    width: 30%;
    background-color: #982c2c;
    border-radius: 20px;
}

.card__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card__img img {
    width: 90%;
    max-width: 100%;
}

.card__title {
    color:white;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}

/* --- POKEMON PAGE ---- */
.details {
    width: 95%;
    margin: 0 auto;
    color:white;
}

h1 {
    text-align: center;
}

.pokemon {
    display: flex;
    gap: 20px;
}

.pokemon__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex:2;
}

.pokemon__photo > img {
    width: 90%;
    max-width: 100%;
}

.pokemon__details {
    flex:3;
    background-color: #982c2c;
    border-radius: 20px;
    padding: 20px 10px;
}

.pokemon__details-type {
    display: flex;
    gap:10px;
}

.type-label {
    width: 75px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat > * {
    width: 20%;
}

.range {
    width: 60%;
    height: 30px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    border: none;
}

.range-full {
    height: 100%;
    background-color: white;
    border-radius: 20px 1px 1px 20px;
}

@media screen and (max-width: 600px) {
    .pokemon {
      flex-direction: column;
    }

    .stat > * {
        width: 25%;
    }

    .range {
        width: 50%;
        height: 20px;
        background-color: rgba(0,0,0,0.5);
        border-radius: 20px;
        border: none;
    }
}

/* ---- TYPES ----- */
.test {
    display: block;
}
.types__title {
    font-size: 1.2rem;
    color:white;
}

.types__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.type__item {
    display: block;
    width: 22%;
    text-decoration: none;
    border-radius: 10px;
    color:white;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .type__item {
        width: 30%;
    }
}

/* --- FOOTER --- */

.footer {
    margin: 50px 0 25px;
    display: flex;
    justify-content: center;
}

.backlink {
    text-decoration: none;
    color:white;
}

