<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="container">
        <header class="header">
            <a href="/">
                <h1> Pokedex </h1>
            </a>
            <nav class="menu">
                <a class='menu__link <%= page === 'home' && 'active' %>' href="/"> Liste des pokemons </a>
                <a class='menu__link <%= page === 'type' && 'active' %>' href="/types"> Liste des types </a>
            </nav>
        </header>
        <form action="/search" method="get">
            <div class="search">
                <input class="search__bar" type="text" name="name" id="name" placeholder="Rechercher un pokemon">
                <button class="search__button" type="submit"> Valider </button>
            </div>
        </form>